.container{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9e0ca;
    color: hsl(0, 25%, 91%);
}

.body{
    margin: 0;
    padding: 0;

}